body {
  font-size: 16px;
  color: #fff;
  background-color: #B1A296;
  font-family: 'Lora', serif;
}


h2 {
  text-align: center;
  font-family: 'Lora', serif;
  text-shadow: 1px 1px 1px #222;
}
.container {
background:#7395AE;
width: 90%;
margin-bottom: 15px;
}

.container h3 {
  text-align: center;
  font-family: 'Lora', serif;
  text-shadow: 1px 1px 1px #222;
}

.container  p {
  text-align: left;
  font-family: 'Lora', serif;
  margin: 0 auto; 
}



/** HEADER **/
#header-nav {
  background-color: #7395AE;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #FFFF;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { /* Kosher cert */
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;

}
.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}

#nav-list p {
  margin-top: 10px;
  text-align: center;
}
#nav-list a {
  color: #FFF;
}
#nav-list a:hover {
  background: #ADADAD;
}
#nav-list a span {
  font-size: 1.8em;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #B1A296;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

.category-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}


/* END MENU CATEGORIES PAGE */

/********** Large devices only **********/
@media (min-width: 1200px) {
.invisible {
  visibility: hidden;
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */

  /* End Header */


/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */

  /* End Home Page */
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img { /* Star-K */
    height: 20px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  /* End Header */


  /* Home Page */
  .container {
    width: 100%;
    margin-top: 30px;
    padding: 0;
  }






